.container {
  margin: 15px 0;
  display: flex;
}

.input {
  margin-right: 15px;
  flex: 1 1 auto;
  width: 1%;
  border: solid 2px #000;
  font-size: 20px;
  border-radius: 3px;
  padding: 0.35em 0.5em;
}

.button {
  width: 120px;
  border-radius: 3px;
  background: #414141;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}
