.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  box-sizing: border-box;
}

.title {
  margin: 15px 0;
}

.list {
  flex: 1 1 auto;
  height: 1%;
  overflow: auto;
  margin: 0 -15px;
  padding: 0 15px;
}
